.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
.theme-one,
.theme-two,
.theme-three {
	width: 20px;
	height: 20px;
	outline-style: none;
	border-radius: 15px;
	border: 2px solid#fff;
	background-color: hsl(222, 26%, 31%);
}
.theme-two {
	background-color: green;
}
.theme-three {
	background-color: red;
}
.head-left {
	display: inline-block;
}
#pre {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 35px;
}
.head-right {
	display: inline-block;
	float: right;
	margin-top: 30px;
}
.table {
	width: 100%;
}
.container {
	width: 100vw;
	margin: 0 auto;
	background-color: hsl(222, 26%, 31%);
	color: #fff;
	min-height: 100vh;
}
.calc {
	width: 80%;
	margin: 0 auto;
	padding: 100px 0;
}
.calc-disp {
	display: block;
	height: 180px;
	background-color: #181f32;
	border-radius: 10px;
	margin: 10px 0;
	position: relative;
}
.disp {
	position: absolute;
	right: 20px;
	bottom: 10%;
	font-size: 60px;
}
.btn {
	font-size: 20px;
	font-weight: 900;
	width: 100px !important;
	height: 80px;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	color: black;
	opacity: 100%;
}
.btn:hover {
	opacity: 70%;
	cursor: pointer;
}
.del {
	background-color: #647299;
	color: #fff;
}
.reset {
	border-style: none;
	float: left;
	width: 49.8% !important;
	background-color: #647299;
	color: #fff;
}
.equal {
	border-style: none;
	width: 49.8% !important;
	float: right;
	background-color: #d13f30;
	color: #fff;
}
.head-left {
}
